<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Start Page</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart Tourist Guide Start</title>


    <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'css/css/style.css'%}">
</head>



<body class="bg-shape">
    <br>


    <div class="container">

        <div class="row align-items-center text-center text-md-left">
            <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
                <h2>Travel More To Discover Yourself</h2>
                <p>“Traveling – it leaves you speechless, then turns you into a storyteller.” </p>
                <a class="button button-hero mt-4" href="{% url 'user_login' %}">Get Started</a>
            </div>
            <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
                <img class="img-fluid" src="{% static 'img/home/hero-img.png'%}" alt="">
            </div>
        </div>
    </div>


</body>

</html>
